* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
  }
  body {
	background-image: linear-gradient(120deg, #422c41 0%, #8675e4 100%);
	color:rgba(0, 0, 0, 0.774);
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  header {
	font-size: 2rem  }
  
  header,
  form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  form input,
  form button {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: rgb(255, 255, 255);
  }
  form button {
	color: #b547ffc0;
	background: #f7fffe;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  form button:hover {
	background: #b547ff;
	color: white;
  }
  .todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .todo-list {
	min-width: 30%;
	list-style: none;
  }
  .image{
	  width: 100px;
	  height:100px;
	  padding-left: 20px;
	  margin-left: 10px;
	  background-color:none;
  }
  
  .todo {
	margin: 0.5rem;
	background: rgb(255, 255, 255);
	font-size: 1.5rem;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 1s ease;
	
  }
  .filter-todo {
	padding: 1rem;
  }
  .todo li {
	flex: 1;
  }

  
  .trash-btn,
  .complete-btn {
	background: #e74747;
	color: white;
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
	border:2px solid;
  }
  .complete-btn {
	background: rgb(11, 212, 88);
  }
  .todo-item {
	padding: 1px;
  }
  
  .fa-trash,
  .fa-check {
	pointer-events: none;
  }
  
  .fall {
	transform: translateY(10rem) rotateZ(20deg);
	opacity: 0;
  }
  
  .completed {
	text-decoration: line-through;
	opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
	
	appearance: none;
	outline: 2px;
	box-shadow: none;
	border: 1px solid;
	background-image: none;
	
  }
  
  /* Custom Select */
  .select {
	margin: 1rem;
	position: relative;
	overflow: hidden;
  }
  select {
	color: #b547ffc0;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	width: 12rem;
  }
  /* Arrow */
  .select::after {
	content: "\25BC";
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
	background: #b547ffc0;
	cursor: pointer;
	pointer-events: none;
  }
  /* Transition */
  /*
  .select:hover::after {
	transform: scale(1.5);
  }
  */
  